<ngx-spinner
bdColor="rgba(0, 0, 0, 0.8)"
size="large"
color="#f01c05"
type="line-scale"
[fullScreen]="true"
><p style="color: white">Loading...</p></ngx-spinner
>


<div class="movie-card-container" >
  <div class="movie-card" *ngFor="let movie of movies"  >
      <img [src]="movie.imageUrl" class="movie-backImage" alt="Movie Image" />
    <div class="movie-details" (click)="onCardClick(movie.id)">
      <h2>{{ movie.title }}</h2>
      <p><strong>Duration:</strong> {{ movie.duration }} minutes</p>
      <p><strong>Release Date:</strong> {{ movie.releaseDate }}</p>
      <p><strong>Language:</strong> {{ movie.language }}</p>
      <!-- <p><strong>id</strong> {{ movie.id }}</p> -->
    </div>
  </div>
</div>
